:root{
    --background-dark: #0a0a0a;
    --primary-color: #ca964e;
    --gray-color: #a9a9a9;
    --secondary-white: #f5f5f5;
    --secondary-black: #2c3135;
    --tertiary-black: #151515;
}
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/*! <--------- Header Nav Section --------->*/
nav{
    background-color: var(--primary-color);
    width: 100%;
}
.nav__container{
    width: 90%;
    max-width: 1190px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    font-size: 20px;
    font-weight: 800;
}
.nav__logo a{
    text-decoration: none;
    color: var(--background-dark);
}
.nav__menu{
    width: 550px;
}
.nav__menu ul{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    gap: 30px;
    font-weight: 800;
    color:var(--background-dark);
}
.nav__menu a{
    text-decoration: none;
    color: var(--background-dark);
}
.nav__menu a:hover{
    color: var(--secondary-white);
    transition: 0.5s;
}
.nav__social ul{
    display: flex;
    gap: 20px;
}
.nav__social a{
    color:var(--background-dark);
    text-decoration: none;
}
svg{
    height: 25px;
}
svg:hover{
    fill: var(--secondary-white);
    transition: 0.45s;
}
/*! <--------- Index - Hero section --------->*/
.hero{
    background-color: var(--background-dark);
    height: 750px;
}
.hero__container-content{
    padding: 130px 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 730px;
}

/* hero left */
.hero__text{
    color: var(--primary-color);
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero__text .hero__title{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 900;
}
.hero__text .hero__description{
    color: var(--gray-color);
    line-height: 30px;
    font-weight: 400;
}

/* hero right */
.hero__image{
    border: 16px solid var(--secondary-black);
    border-radius: 1000px;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}
.hero__image img{
    height: 480px;
    object-fit: cover;
    transition: all 0.6s ease-in-out;
}
.hero__image img:hover{
    transform: scale(1.18);
    transition: all 0.6s ease-out 0s;
}

/*! <--------- Biography Section --------->*/
main{
    background-color: var(--tertiary-black);
    height: 100vh;
    padding: 110px;
}
#biography{
    max-width: 1160px;
}
#biography .title__container{
    text-align: center;
}
#biography .title__container h1{
    color: var(--secondary-white);
    font-size: 37px;
    margin: 20px 0;
    font-weight: 900;
}
#biography .title__container h2{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 900;
    margin: 20px 0 40px;
}
#biography .biography__container, #biography .biography__link{
    color: var(--gray-color);
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 35px;
}
#biography .biography__container strong{
    color: var(--gray-color);
    font-weight: 900;
    letter-spacing: none;
}
#biography .biography__container a, #biography .biography__link{
    color: var(--primary-color);
}
#biography .biography__container a:hover, #biography .biography__link:hover{
    color: var(--secondary-white);
}

/*TOP BUTTON*/

.top__button {
    bottom: 20px;
    right: -80px;
    z-index: 999;
    font-size: 25px;
    text-align: center;
    transform: rotate(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--background-dark);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.top__button.active {
    right: 20px;
    transform: rotate(0deg);
}

.top__button:hover {
    color: var(--secondary-white);
    box-shadow: 0px 0px 10px rgba(255, 154, 59, 0.726);
}
